# Untrack everything
*
# Include all directories
!*/
# Include .gitignore
!.gitignore
# Include all .el files
!*.el
# Include all .exp files
!*.exp
# Include all .txt files
!*.txt
#*/experiments/*/*/
# Include OPC-DA structures
!*deck_input_supplier.xml
!*dka.xml
# Untrack subdirectories in OPC servers
*/experiments/*/*/*/*/
# Untrack version.el
version.el
# Untrack compiler specific _.exp files
*_.exp